.disk {
  margin-top: 20px;
}
.disk__btns {
  display: flex;
}
.disk__create {
  margin-left: 10px;
}
.disk__upload-input {
  display: none;
}
.disk__upload-label {
  border: 2px dashed #566885;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
}
.disk__select {
  margin-left: auto;
}
.disk__list,
.disk__plate {
  height: 20px;
  width: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  background: no-repeat center center;
  background-size: contain;
  margin: 0 10px;
}

.drop-area {
  width: 100%;
  height: calc(100vh - 50px - 40px);
  margin: 20px;
  border: dashed #566885 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
.popup {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup__content {
  width: 400px;
  background: white;
  padding: 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}
.popup__create {
  align-self: flex-end;
}
.popup__header {
  display: flex;
  justify-content: space-between;
}
.popup input {
  margin: 20px 0px;
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 50px);
}
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #566885;
  border-color: #566885 transparent #566885 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}